body{
  background:black;
}

.leftside, .rightside{
  height: 100vh;
  width: 100%;
  background:black;
}

.centerbox{
  margin-left: 25%;
  margin-top: 20%;
}

.commandline, .commandbox{
  background:black;
  width:90%;
  resize:none;
  outline:none;
  color:#26ff00;
}

.commandline{
  
  border:1px solid red;
  
}

.commandbox{
  height:60vh;
  border:1px solid orange;

  overflow-y: hidden;
  overflow-x: hidden;
}

.rightside{
  background:black;
  border:5px solid blue;
  overflow-y:auto;
}

h1, h2, h3, p1{
  color:#26ff00;
}

.flicker{
  animation: blinker 1s linear infinite;
}

img{
  display: block;
  margin: 0 auto;
}

.removable{
  overflow: hidden;
}


@keyframes blinker {
  25% {
    opacity: 0;
  }
}